@page "/"

@namespace BlazorSSR.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using BlazorSSR.Client
@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<base href="/"/>
        <title>BlazorSSR</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

		<link href="css/app.css" rel="stylesheet" />
		<link href="BlazorSSR.Client.styles.css" rel="stylesheet" />
		<component type="typeof(HeadOutlet)" render-mode="WebAssemblyPrerendered" />
	</head>

	<body style="background: #000000; color: #ffffff; font-family: 'Inter', sans-serif">
		<component type="typeof(App)" render-mode="WebAssemblyPrerendered" />
		<persist-component-state />
		<script src="_framework/blazor.webassembly.js"></script>
	</body>
</html>